<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/abhisheksingh/IdeaProjects/LearningSeleniumATB6x"><classes><class name="com.assignment.Assignment1"><methods><include name="tescase1"/></methods></class><class name="com.assignment.Assignment2"><methods><include name="testLogin"/></methods></class><class name="com.assignment.Assignment4"><methods><include name="test"/></methods></class><class name="com.testing.Lab003"><methods><include name="vmoLoginTitle"/></methods></class><class name="com.testing.Lab007"><methods><include name="vwoNegativeTest"/></methods></class><class name="com.testing.Lab008"><methods><include name="vwoFreeTrialTest"/></methods></class></classes></test></suite>